/src.util/linkltc/linkltc
*.la
.libs
.objects
.deps
/src/tables/*.c
/doc/motivation.html
/src*/generic_fallbacks.[ch]
/src.util/ucm2ltc/ucm2ltc
/testsuite/*/testlog*.txt
/testsuite/*/work
/testsuite/simple/test
/testsuite/simple/converters/*.c
/doc/API
/src.tools/check_converter
/src.tools/generate_table
/src.tools/test
/notes/
/libtranscript-*.tar.bz2
/man/output
/icu-mappings